.balance {
  background: black;
  margin: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

h3 {
  color: white;
}
