@if (showAddExpense) {
<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="description"><h3>Description</h3></label>
    <input
      type="text"
      name="description"
      [(ngModel)]="description"
      id="description"
      placeholder="Add description"
    />
  </div>
  <div class="form-control">
    <label for="amount"><h3>Amount</h3></label>
    <input
      type="number"
      name="amount"
      [(ngModel)]="amount"
      id="amount"
      placeholder="0"
    />
  </div>
  <div class="form-control">
    <span class="switch">
      <input
        type="checkbox"
        name="expense"
        [(ngModel)]="expense"
        id="expense"
        checked
      />
      <label for="switch"></label>
    </span>
  </div>
  <input type="submit" value="Save expense" class="btn btn-block" />
</form>
}
