.expense {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense.income {
  border-left: 5px solid green;
}

.expense h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
