.expense {
  background: #ffcbd0;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense.income {
  background: #e0ffd2;
}


.expense h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
